:global .App {
  height: 100%
}

:global .App-header{
  background: #ffe464;
  height: 42px;
  color: white;
  padding: 0 142px;

}

:global .Nav-wrapper{
  height: 42px;

}

:global .Nav-left-wrapper{
  width: 364px;
  height: 42px;
  float: left;


}

:global .Nav-right-wrapper{
  width: 404px;
  height: 42px;
  background: yellow;
  float:right;
}


:global .App-intro {
  font-size: large;

}

@keyframes Enterprise-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
:global #components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:global #components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}
:global .logo {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
:global .ant-breadcrumb{
  height: 30px;
  line-height: 40px;
  font-size: 14px;
  margin-left: 20px;
}

:global .Navigation-menu{
  height: 60px!important;
  line-height: 60px!important;

}

:global .navigation-wrapper{
  height: 1044px;
  
}










