:global .Enterprise {
  height: 100%
}

:global .Enterprise-sider{
  width: 146px!important;
  height: 100%;
  background: #fff;

}

:global .Enterprise-logo {
  animation: Enterprise-logo-spin infinite 20s linear;
  height: 64px;
}

:global .Enterprise-logo-image{
  width: 100%;
  height: 64px;
  box-sizing: border-box;
}

:global .Enterprise-header {
  background: #2c70c0!important;
  color: white;
}


:global .Enterprise-intro {
  font-size: large;

}

@keyframes Enterprise-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
:global #components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:global #components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}
:global .logo {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
:global .ant-breadcrumb{
  height: 30px;
  line-height: 40px;
  font-size: 14px;
  margin-left: 20px;
}

:global .Navigation-menu{
  height: 60px!important;
  line-height: 60px!important;

}

:global .navigation-wrapper{
  height: 1044px;
  
}








